{
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "all",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.ts", "*.js", "*.tsx"],
      "options": {
        "arrowParens": "always",
        "bracketSpacing": true,
        "bracketSameLine": false,
        "jsxSingleQuote": false,
        "quoteProps": "as-needed",
        "semi": false,
        "printWidth": 120,
        "useTabs": false,
        "tabWidth": 2,
        "trailingComma": "es5",
        "singleQuote": false
      }
    },
    {
      "files": ["**/*.rs"],
      "options": {
        "printWidth": 120,
        "tabWidth": 2,
        "useTabs": false,
        "semi": true,
        "singleQuote": false,
        "trailingComma": "all",
        "bracketSpacing": true,
        "bracketSameLine": false,
        "arrowParens": "always",
        "endOfLine": "auto"
      }
    }
  ]
}
